<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="/assets/bootstrap/js/layui/css/layui.css" media="all">
</head>
<body>
<script src="/assets/bootstrap/js/layui/layui.js"></script>
<form style="margin:10px" class="layui-form" action="/api/train/add">
    <div class="layui-form-item">
        <label class="layui-form-label">演训名称</label>
        <div class="layui-input-block">
            <input type="text" name="trainName" required  lay-verify="required" placeholder="请输入演训名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">演训时间</label>
        <div class="layui-input-block">
            <input type="text" name="trainData" required  lay-verify="required" placeholder="请输入演训时间" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">演训地点</label>
        <div class="layui-input-block">
            <input type="text" name="trainOrg" required  lay-verify="required" placeholder="演训地点" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">参赛人员数量</label>
        <div class="layui-input-block">
            <input type="text" name="trainNum" required  lay-verify="required" placeholder="请输入参赛人员数量" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">科目</label>
        <div class="layui-input-block">
            <input type="text" name="trainProject" required  lay-verify="required" placeholder="请输入科目" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">组织方</label>
        <div class="layui-input-block">
            <input type="text" name="trainPlace" required  lay-verify="required" placeholder="请输入组织方" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">宣传资料-图片</label>
        <div class="layui-input-block">
            <div class="layui-upload"> <button type="button" class="layui-btn" id="test2">多图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="demo2"></div>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">宣传资料-视频</label>
        <div class="layui-input-block">
            <div class="layui-btn-container"><button type="button" class="layui-btn" id="test5"><i class="layui-icon"></i>上传视频</button>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use('form', function(){
        var $ = layui.jquery
        var laydate = layui.laydate;
        var form = layui.form;
        var upload = layui.upload
        upload.render({
            elem: '#test5'
            ,url: 'https://httpbin.org/post' //此处配置你自己的上传接口即可
            ,accept: 'video' //视频
            ,done: function(res){
                layer.msg('上传成功');
                console.log(res)
            }
        });

        //多图片上传
        upload.render({
            elem: '#test2'
            ,url: '/api/train/imageUpload' //此处配置你自己的上传接口即可
            ,multiple: true
           // ,exts: 'jpg|png|gif|'        //可传输文件的后缀
            ,accept: 'multipart/form-data'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    alert(result)
                    alert(file.name)
                    $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res){
                //上传完毕
            }
        });

        laydate.render({
            elem: '#TrainData'
            ,value: "2021-08-18" //必须遵循format参数设定的格式
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.f
            JSON.stringify(data.field)
          //  layer.msg(JSON.stringify(data.field));
            layer.msg('添加成功')
            parent.location.reload()

            return true;
        });
    });

</script>

<script src="/assets/bootstrap/js/layui/layui.js"></script>
</body>
</html>