<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="/assets/bootstrap/js/layui/css/layui.css" media="all">
</head>
<body>

<table id="demo" lay-filter="test"></table>

<script src="/assets/bootstrap/js/layui/layui.js"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 312
            ,url: '/api/train/get' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'Id', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field: 'TrainName', title: '演训名称', width:100}
                ,{field: 'TrainData', title: '时间', width:100, sort: true}
                ,{field: 'TrainNum', title: '参赛人员数量', width:80, sort: true}
                ,{field: 'TrainOrg', title: '地点', width:100}
                ,{field: 'TrainProject', title: '科目', width:80, sort: true}
                ,{field: 'TrainPlace', title: '组织方', width:100, sort: true}
                ,{field: 'TrainTime', title: '宣传图片，视频', width:80, sort: true}
            ]]
        });

    });
</script>
</body>
</html>